<div class="breadcrumbs">
  <ol>
    <li>
      <%= link_to "Main menu", root_url %>
    </li>
    <li aria-current="page">
      Manage goods classification
    </li>
  </ol>
</div>

<h1 class="heading-xlarge m-b-5">Manage goods classification</h1>

<div class="panel panel-border-wide m-b-60">
  <p>
    You are currently viewing the goods classification for <%= @view_date.to_formatted_s(:long_ordinal) %>
  </p>
  <details id="change_nomenclature_date">
  <summary>Change Date</summary>

  <%#= form_tag goods_nomenclature_path(@nomenclature.goods_nomenclature_item_id), method: :get do %>
  <%= form_tag change_date_base_path, method: :get do %>
    <%= select_date @view_date, prefix: :nomenclature_date %>
    <%= submit_tag("Set date") %>
  <% end  %>
  </details>

</div>

<div class="grid-row">
  <div class="column-one-half">
    <%= form_tag(search_goods_nomenclatures_path(request.query_parameters.symbolize_keys)) do %>
      <div class="form-group gem-c-search gem-c-search--on-white" data-module="gem-toggle-input-class-on-focus">
        <label for="search-commodity" class="form-label">
          Enter commodity code you want to work with
        </label>
        <div class="gem-c-search__item-wrapper">
          <input type="search" value="" id="search-commodity" title="Search" name="search_commodity"
                 class="gem-c-search__item gem-c-search--on-white gem-c-search__input" type="number" maxlength="10"
                 oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
          >
          <div class="gem-c-search__item gem-c-search__submit-wrapper">
            <button type="submit" class="gem-c-search__submit">Search</button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
