<% content_for :content do %>
  <%= render partial: "nomenclature/sections_header" %>

  <% if @sections %>
    <div class="grid-row">
      <div class="column-three-quarters">
        <table>
          <thead>
            <tr>
              <th scope="col">Code</th>
              <th scope="col">Chapter</th>
              <th scope="col">Description</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% @sections.each do |section| %>
              <tr>
                <th scope="row"><%= section.numeral %></th>
                <% if section.chapter_from ===  section.chapter_to %>
                  <td><%= section.chapter_to %></td>
                <% else %>
                  <td><%= section.chapter_from %> to <%= section.chapter_to %></td>
                <%end %>
                <td><a href="#"><%= section.title %></a></td>
                <td><a href="#">Manage</a></td>
              </tr>
            <%end %>
          </tbody>
        </table>
      </div>
  </div>
  <% end %>
<% end %>

<%= render template: "layouts/application" %>


