<% content_for :content do %>
  <%= render partial: "nomenclature/sections_header", locals: {change_date_base_path: chapter_path(@chapter) } %>

<div class="grid-row">
  <div class="column-three-quarters">
    <div class="tariff-breadcrumbs js-tariff-breadcrumbs clt font-xsmall">
      <nav>
        <%= link_to "All sections", sections_path(request.query_parameters.symbolize_keys), :class => "all-sections-link"  %>
        <div class="desktop-only">
          <ul>
            <li>
              <h1><%= link_to "Section #{@chapter.section.numeral}: #{@chapter.section.title}", section_path(@chapter.section, request.query_parameters.symbolize_keys) %></h1>
              <ul>
                <li class="chapter-li">
                  <div class="chapter-code">
                    <div class="code-text"><%= @chapter.short_code %></div>
                  </div>
                  <%= @chapter.current_description.capitalize %>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>

  <% if @chapter.headings %>
    <div class="grid-row">
      <div class="column-full">
        <table>
          <thead>
            <tr>
              <th scope="col">Code</th>
              <th scope="col">Suffix</th>
              <th scope="col">Indent</th>
              <th scope="col">Description</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% @chapter.headings.each do |heading| %>
            <tr>
              <td scope="row" class="nomenclature-code"><%= format_nomenclature_code(heading.goods_nomenclature_item_id) %></td>
              <td scope="row" class="text-center"><%= heading.producline_suffix == '80' ? '-' : heading.producline_suffix %></td>
              <td scope="row" class="text-center"><%= heading.number_indents %></td>
              <td>
                <% if heading.producline_suffix == '80' %>
                  <%= link_to heading.current_description, goods_nomenclature_path(heading.goods_nomenclature_item_id, request.query_parameters.symbolize_keys) %></a>
                <% else %>
                  <%= heading.current_description %></a>
                <% end %>
              </td>
              <td>
                <div class="col-md-1"><%= link_to "Manage", new_manage_nomenclature_path(({item_id: heading.goods_nomenclature_item_id, suffix: heading.producline_suffix}.merge(request.query_parameters)).symbolize_keys) %></div>
              </td>
            </tr>
            <%end %>
          </tbody>
        </table>
      </div>
  </div>
  <% end %>
<% end %>
