<div class="breadcrumbs">
  <ol>
    <li>
      <%= link_to "Main menu", root_url %>
    </li>
  </ol>
</div>

<h1 class="heading-xlarge m-b-5">
  Amend code description
</h1>

<div class="panel panel-border-narrow p-t-5 p-b-5">
  <p>
    <%= original_nomenclature.goods_nomenclature_item_id %> - <%= original_nomenclature.description %>
  </p>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <details>
      <summary>
        Workbasket details
      </summary>
      <div class="panel panel-border-narrow m-b-60">
        <table>
          <caption class="heading-small">Dates and amounts</caption>
          <tbody>
            <tr>
              <td class="bold-small">Workbasket name</td>
              <td><%= workbasket.title %></td>
            </tr>
            <tr>
              <td class="bold-small">Reason for changes</td>
              <td><%= workbasket.settings.reason_for_changes %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </details>
  </div>
</div>



<%= simple_form_for @edit_nomenclature_form, url: edit_nomenclature_path, html: {method: :patch, novalidate: false} do |f| %>
<div class="grid-row">
  <div class="column-two-thirds">

    <table>
      <caption class="heading-medium m-t-25">Existing code details</caption>
      <tbody>
        <tr>
          <td class="bold-small">Commodity code</td>
          <td><%= original_nomenclature.goods_nomenclature_item_id %></td>
        </tr>
        <tr>
          <td class="bold-small">Commodity name</td>
          <td>
            <%= original_nomenclature.description %>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="panel panel-border-narrow <%= 'form-group-error' if saver&.errors[:description] %>">
              <% if saver&.errors[:description]  %>
                <span class="error-message"><%= saver&.errors[:description] %></span>
              <% end %>
              <%= f.input :description, label: 'Enter new description', required: true, :as => :text, :input_html => { rows: 6 } %>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="panel panel-border-narrow <%= 'form-group-error' if (saver&.errors[:validity_start_date].present? || saver&.conformance_errors.present?) %>">
              <% if (saver&.errors[:validity_start_date] || saver&.conformance_errors)  %>
                <span class="error-message">
                  <%= saver&.errors[:validity_start_date] %>
                  <%= saver&.conformance_errors&.values[0] %>
                </span>
              <% end %>
              <%= f.input :validity_start_date, label: 'Description valid from date', :as => :date %>
            </div>
          </td>
        </tr>
        <tr>
          <td class="bold-small">Product line suffix</td>
          <td>
            <%= original_nomenclature.producline_suffix %>
          </td>
        </tr>
        <tr>
          <td class="bold-small">Indents</td>
          <td>
            <%= original_nomenclature.number_indents %>
          </td>
        </tr>
        <tr>
          <td class="bold-small">Footnotes</td>
          <td>
          </td>
        </tr>
        <tr>
          <td class="bold-small">Code valid from</td>
          <td>
            <%= format_date(original_nomenclature.validity_start_date) %>
          </td>
        </tr>
        <tr>
          <td class="bold-small">Code valid until</td>
          <td>
            <%= format_date(original_nomenclature.validity_end_date) %>
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <div class="form-actions">
        <button type="submit"
                class='button'
                data-disable-with='Processing'>
          Submit for cross-check
        </button>

        <%= link_to "Cancel", root_path, class: "secondary-button" %>
      </div>
    </div>
  </div>
</div>
<% end %>
