<div class="breadcrumbs">
  <ol>
    <li>
      <%= link_to "Main menu", root_url %>
    </li>
  </ol>
</div>

<h1 class="heading-xlarge m-b-5">
  Amend code description
</h1>

<div class="panel panel-border-wide m-b-60">
  <p>
    <%= original_nomenclature.goods_nomenclature_item_id %> - <%= original_nomenclature.description %>
  </p>
</div>

<details>
  <summary>
    Workbasket details
  </summary>
  <div class="panel panel-border-wide m-b-60">
    <table>
      <tr>
        <td class="heading_column">Workbasket name</td>
        <td><%= workbasket.title %></td>
      </tr>
      <tr>
        <td class="heading_column">Reason for changes</td>
        <td><%= workbasket.settings.reason_for_changes %></td>
      </tr>
      <tr>
        <td class="heading_column">Changes take effect on</td>
        <td><%= workbasket.settings.validity_start_date %></td>
      </tr>
    </table>
  </div>
</details>


<%= simple_form_for @edit_nomenclature_form, url: edit_nomenclature_path, html: {method: :patch} do |f| %>

  <h2>Existing code details</h2>
  <hr>

  <table>
    <tr>
      <td class="heading_column">Commodity code</td>
      <td><%= original_nomenclature.goods_nomenclature_item_id %></td>
    </tr>
    <tr>
      <td class="heading_column">Commodity name</td>
      <td>
        <%= original_nomenclature.description %>
      </td>
    </tr>
  </table>

  <fieldset>
    <div class="bootstrap-row">
      <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
        <%= f.input :description, label: 'Enter new description', required: true, :as => :text, :input_html => { rows: 6 } %>
      </div>
    </div>
  </fieldset>

  <table>
    <tr>
      <td class="heading_column">Product line suffix</td>
      <td>
        <%= original_nomenclature.producline_suffix %>
      </td>
    </tr>
    <tr>
      <td class="heading_column">Indents</td>
      <td>
        <%= original_nomenclature.number_indents %>
      </td>
    </tr>
    <tr>
      <td class="heading_column">Footnotes</td>
      <td>
      </td>
    </tr>
    <tr>
      <td class="heading_column">Code valid from</td>
      <td>
        <%= format_date(original_nomenclature.validity_start_date) %>
      </td>
    </tr>
    <tr>
      <td class="heading_column">Code valid until</td>
      <td>
        <%= format_date(original_nomenclature.validity_end_date) %>
      </td>
    </tr>
  </table>

  <div>
    <div class="form-actions">
      <button type="submit" class='button' data-disable-with='Processing'>
        Continue
      </button>

      <%= link_to "Cancel", @nomenclature, class: "secondary-button" %>
    </div>
  </div>
<% end %>
