<div class="grid-row">
  <div class="column-two-thirds">

    <table>
      <tbody>
      <% workbasket_settings = workbasket.settings.decorate %>
      <tr>
        <td class="bold-small">Parent quota order number</td>
        <td><%= workbasket_settings.parent_definition&.quota_order_number_id %></td>
      </tr>
      <tr>
        <td class="bold-small">Parent quota definition period</td>
        <td><%= "#{workbasket_settings.parent_definition&.validity_start_date.to_s(:uk_Mmm)} to #{workbasket_settings.parent_definition.validity_end_date.to_s(:uk_Mmm)}" %></td>
      </tr>
      <tr>
        <td class="bold-small">Child quota order number</td>
        <td><%= workbasket_settings.child_definition&.quota_order_number_id %></td>
      </tr>
      <tr>
        <td class="bold-small">Child quota definition period</td>
        <td><%= "#{workbasket_settings.child_definition&.validity_start_date.to_s(:uk_Mmm)} to #{workbasket_settings.child_definition.validity_end_date.to_s(:uk_Mmm)}" %></td>
      </tr>
      <tr>
        <td class="bold-small">Relation type</td>
        <td><%= workbasket_settings.quota_association_relation_type %></td>
      </tr>
      <tr>
        <td class="bold-small">Co-efficient</td>
        <td><%= workbasket_settings.quota_association_coefficient %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
