<div class="grid-row">
  <div class="column-two-thirds">

    <table>
      <caption class="heading-medium m-t-25">Quota Association Details</caption>
      <tbody>
      <tr>
        <td class="heading_column">Parent Quota Order ID</td>
        <td><%= workbasket_settings.parent_quota_order_id %></td>
      </tr>
      <tr>
        <td class="heading_column">Parent Quota Definition Period</td>
        <td><%= workbasket_settings.decorate.formatted_parent_quota_definition_period %></td>
      </tr>
      <tr>
        <td class="heading_column">Child Quota Order ID</td>
        <td><%= workbasket_settings.child_quota_order_id %></td>
      </tr>
      <tr>
        <td class="heading_column">Child Quota Definition Period</td>
        <td><%= workbasket_settings.decorate.formatted_child_quota_definition_period %></td>
      </tr>
      <tr>
        <td class="heading_column">Relation Type</td>
        <td><%= workbasket_settings.relation_type %></td>
      </tr>
      <tr>
        <td class="heading_column">Co-efficient</td>
        <td><%= workbasket_settings.coefficient %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
