<% blocking_period = QuotaBlockingPeriod.find(workbasket_id: workbasket.id) %>
<% definition = QuotaDefinition.find(quota_definition_sid: blocking_period.quota_definition_sid) %>

<div class="grid-row">
  <div class="column-two-thirds">

    <table>
      <tbody>
      <tr>
        <td class="header_column">Quota order number</td>
        <td><%= definition.quota_order_number_id %></td>
      </tr>
      <tr>
        <td class="header_column">Definition dates</td>
        <td><%= "#{definition.validity_start_date.strftime("%d-%m-%y")} to #{definition.validity_end_date.strftime("%d-%m-%y")}" %></td>
      </tr>
      <tr>
        <td class="header_column">Blocking period dates</td>
        <td><%= "#{blocking_period.blocking_start_date.strftime("%d-%m-%y")} to #{blocking_period.blocking_end_date.strftime("%d-%m-%y")}" %></td>
      </tr>
      <tr>
        <td class="header_column">Blocking period type</td>
        <td><%= WorkbasketForms::EditCreateQuotaBlockingPeriodForm::BLOCKING_TYPES[blocking_period.blocking_period_type] %></td>
      </tr>
      <tr>
        <td class="header_column">Description</td>
        <td><%= blocking_period.description %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
