<div class="breadcrumbs">
  <ol>
    <li>
      <%= link_to "Main menu", root_url %>
    </li>
    <li aria-current="page">
      Create new commodity code
    </li>
  </ol>
</div>

<h1 class="heading-xlarge m-b-5">
  Add new commodity code
</h1>

<div class="panel panel-border-narrow p-t-5 p-b-5">
  <p>
    <%= original_nomenclature.goods_nomenclature_item_id %> - <%= original_nomenclature.description %>
  </p>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <details>
      <summary>
        Workbasket details
      </summary>
      <div class="panel panel-border-narrow m-b-60">
        <table>
          <tbody>
            <tr>
              <td class="bold-small">Workbasket name</td>
              <td><%= workbasket.title %></td>
            </tr>
            <tr>
              <td class="bold-small">Reason for changes</td>
              <td><%= workbasket.settings.reason_for_changes %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </details>
  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <details>
      <summary>
        Parent code details
      </summary>
      <div class="panel panel-border-narrow m-b-60">
        <table>
          <tbody>
          <tr>
            <td class="bold-small">Commodity code</td>
            <td><%= original_nomenclature.goods_nomenclature_item_id %></td>
          </tr>
          <tr>
            <td class="bold-small">Description</td>
            <td><%= original_nomenclature.description %></td>
          </tr>
          <tr>
            <td class="bold-small">Product line suffix</td>
            <td><%= original_nomenclature.producline_suffix %></td>
          </tr>
          <tr>
            <td class="bold-small">Indents</td>
            <td><%= original_nomenclature.number_indents %></td>
          </tr>
          <tr>
            <td class="bold-small">Footnotes</td>
            <td><%= original_nomenclature.footnotes.map(&:code).join(", ") %></td>
          </tr>
          <tr>
            <td class="bold-small">Code valid from</td>
            <td><%= original_nomenclature.validity_start_date.to_formatted_s(:uk_Mmm) %></td>
          </tr>
          <tr>
            <td class="bold-small">Code valid until</td>
            <td><%= original_nomenclature.validity_end_date %></td>
          </tr>
          </tbody>
        </table>
      </div>
    </details>
  </div>
</div>



<%= simple_form_for @create_nomenclature_form, url: create_nomenclature_path, method: :put, html: {novalidate: false} do |f| %>
  <h3 class="heading-large m-t-25">Define the new commodity code</h3>

  <% if saver.errors.any? %>
    <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
      <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
        Error
      </h2>
      <ul class="error-summary-list">
        <% saver.errors.each do | error | %>
          <span class="error-message"><%= error[1] %></span>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid-row">
    <div class="column-full">
      <div class="panel panel-border-narrow <%= 'form-group-error' if saver&.errors[:goods_nomenclature_item_id] %>">
        <% if saver&.errors[:goods_nomenclature_item_id]  %>
          <span class="error-message"><%= saver&.errors[:goods_nomenclature_item_id] %></span>
        <% end %>
        <div class="grid-row">
          <div class="column-one-quarter">
            <%= f.input :goods_nomenclature_item_id, label: 'New code (10 digits)', required: true, input_html: { pattern:"[0-9]*", minlength: 10,  maxlength: 10, title:"10 digits only" } %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">
      <div class="panel panel-border-narrow <%= 'form-group-error' if saver&.errors[:description] %>">
        <% if saver&.errors[:description]  %>
          <span class="error-message"><%= saver&.errors[:description] %></span>
        <% end %>
        <div class="grid-row">
          <div class="column-one-half">
            <%= f.input :description, label: 'Description', required: true, :as => :text, :input_html => { rows: 6 } %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="vue-instance">
    <%= content_tag "date-gds", "", "label" => "When should these changes take effect?", "value" => @create_nomenclature_form.validity_start_date&.strftime('%d,%m,%Y'), "id" => "workbasket_forms_create_nomenclature_form_validity_start_date", "input_name" => "workbasket_forms_create_nomenclature_form[validity_start_date]", "error" => saver.errors[:validity_start_date], required: true %>
  </div>

  <div class="grid-row">
    <div class="column-full">
      <div class="panel panel-border-narrow <%= 'form-group-error' if saver&.errors[:producline_suffix] %>">
        <% if saver&.errors[:producline_suffix]  %>
          <span class="error-message"><%= saver&.errors[:producline_suffix] %></span>
        <% end %>
        <div class="grid-row">
          <div class="column-one-quarter">

            <%= f.input :producline_suffix, label: 'Product line suffix', required: true, input_html: { pattern:"[0-9]*", maxlength: 2, title:"2 digits only" } %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">
      <div class="panel panel-border-narrow <%= 'form-group-error' if saver&.errors[:number_indents] %>">
        <% if saver&.errors[:number_indents]  %>
          <span class="error-message"><%= saver&.errors[:number_indents] %></span>
        <% end %>
        <div class="grid-row">
          <div class="column-one-quarter">
            <%= f.input :number_indents, label: 'Indents', required: true, input_html: { pattern:"[0-9]*", maxlength: 2, title:"Digits only" } %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">
      <div class="panel panel-border-narrow <%= 'form-group-error' if saver&.errors[:origin_code] %>">
        <% if saver&.errors[:origin_code]  %>
          <span class="error-message"><%= saver&.errors[:origin_code] %></span>
        <% end %>
        <div class="grid-row">
          <div class="column-one-quarter">
            <%= f.input :origin_code, label: 'Origin code', required: true, input_html: { pattern:"[0-9]*", minlength: 10,  maxlength: 10, title:"10 digits only" } %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">
      <div class="panel panel-border-narrow <%= 'form-group-error' if saver&.errors[:origin_producline_suffix] %>">
        <% if saver&.errors[:origin_producline_suffix]  %>
          <span class="error-message"><%= saver&.errors[:origin_producline_suffix] %></span>
        <% end %>
        <div class="grid-row">
          <div class="column-one-quarter">
            <%= f.input :origin_producline_suffix, label: 'Origin product line suffix', required: true, input_html: { pattern:"[0-9]*", maxlength: 2, title:"2 digits only" } %>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div>
      <div class="form-actions">
        <button type="submit"
                class='button'
                data-disable-with='Processing'>
          Submit for cross-check
        </button>

        <%= link_to "Cancel", root_path, class: "secondary-button" %>
      </div>
    </div>
  </div>
</div>
<% end %>
