<% content_for :content do %>
  <%= render partial: "nomenclature/sections_header", locals: {change_date_base_path: sections_path(request.query_parameters.symbolize_keys)}%>

  <% if @sections %>
    <div class="grid-row">
      <div class="column-three-quarters">
        <table>
          <thead>
            <tr>
              <th scope="col">Section</th>
              <th scope="col">Chapter</th>
              <th scope="col">Description</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% @sections.each do |section| %>
              <tr>
                <th scope="row" class="nomenclature-code"><%= section.numeral %></th>
                <% if section.chapter_from ===  section.chapter_to %>
                  <td><%= section.chapter_to %></td>
                <% else %>
                  <td><%= section.chapter_from.delete_prefix("0") %> to <%= section.chapter_to.delete_prefix("0") %></td>
                <%end %>
                <td><%= link_to section.title, section_path(section, request.query_parameters.symbolize_keys) %></td>
              </tr>
            <%end %>
          </tbody>
        </table>
      </div>
  </div>
  <% end %>
<% end %>
