<% content_for :content do %>
  <!-- <script>
    window.__quota_association_json = ### Render Rails workbasket settings here ###;
  </script> -->
  <div id="vue-create-quota-association-form">
    <div class="breadcrumbs">
      <nav>
        <ol>
          <li>
          <%= link_to "Main menu", root_url %>
          </li>
          <li>
              <%= link_to "Quota associations", quota_associations_url %>
          </li>
          <li>
              Create quota association
          </li>
        </ol>
      </nav>
    </div>

    <div v-if="hasErrors" class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
      <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
        Error
      </h2>
      <p>
        Please see individual fields for details.
      </p>
      <ul class="error-summary-list">
        <li v-for="(value, name) in errors"><a v-bind:href="'#' + name">{{value}}</a></li>
      </ul>
    </div>

    <h1 class="heading-large">
      Create quota association
    </h1>

    <div class="grid-row">
      <div class="column-full">
        <p>Use this functionality to associate parent and child quotas together.</p>

        <p>Alternatively, please click here to view <%= link_to "existing quota associations", quota_associations_url %>.</p>
      </div>
    </div>

    <%= form_tag(search_create_quota_association_index_url, {:@submit => 'validateStepOneData'}) do %>
      <div class="grid-row">
        <div class="column-full">
          <div class="form-group" v-bind:class="{ 'form-group-error': errors.workbasket_name }">
            <label for="workbasket_name" class="heading-medium">
              What is the name of this workbasket?
              <span class="form-hint">
                This will allow you to identify the workbasket if you save progress, it will also help cross-chckers and approvers identify it. Be descriptive!
              </span>

              <span v-if="errors.workbasket_name" class="error-message">{{errors.workbasket_name}}</span>

            </label>
            <div class="grid-row">
              <div class="column-one-half">
                <input id="workbasket_name" v-model="quotaAssociation.workbasket_name" type="text" name="workbasket_name" class="form-control" required>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-row">
          <div class="column-full">
              <div class="form-group" v-bind:class="{ 'form-group-error': errors.parent_quota }">
                <label class="heading-medium m-t-10" for="parent_quota">
                  Please enter the parent (main) quota order number ID
                  <span class="form-hint">
                    Please ensure that you select an existing quota order number ID with 6 numeric digits beginning "09".
                  </span>

                  <span v-if="errors.parent_quota" class="error-message">{{errors.parent_quota}}</span>

                </label>
                <div class="grid-row">
                  <div class="column-one-quarter">
                    <input id="parent_quota" v-model="quotaAssociation.parent_quota" class="form-control" type="text" pattern="09[0-9]{4}" name="parent_quota" minlength="6" maxlength="6" size="8" required>
                  </div>
                </div>
              </div>
          </div>
        </div>

        <div class="grid-row">
          <div class="column-full">
              <div class="form-group" v-bind:class="{ 'form-group-error': errors.child_quota }">
                <label class="heading-medium m-t-10" for="child_quota">
                  Please enter the child (sub) quota order number ID
                  <span class="form-hint">
                    Please ensure that you select an existing quota order number ID with 6 numeric digits beginning "09".
                  </span>

                  <span v-if="errors.child_quota" class="error-message">{{errors.child_quota}}</span>

                </label>
                <div class="grid-row">
                  <div class="column-one-quarter">
                    <input id="child_quota" v-model="quotaAssociation.child_quota" class="form-control" type="text" pattern="09[0-9]{4}" name="child_quota" minlength="6" maxlength="6" size="8" required>
                  </div>
                </div>
              </div>
          </div>
        </div>

        <!-- <a href="#" v-on:click.prevent.stop="validateQuota" class="button m-t-30">Continue</a> -->
        <button class="button m-t-30 js-workbasket-base-continue-button" type="submit">Continue</button>
        <div class="js-workbasket-base-continue-spinner spinner_block hidden">
            <%= render "measures/bulks/loading_spinner", message: "Checking data..." %>
        </div>
    <% end %>
  </div>
<% end %>
