<% content_for :content do %>

<div class="breadcrumbs">
  <nav>
    <ol>
      <li>
       <%= link_to "Main menu", root_url %>
      </li>
      <li>
          Quota associations
      </li>
    </ol>
  </nav>
</div>

<h1 class="heading-large">
  Work with selected measures
</h1>

<div class="grid-row">
  <div class="column-full">
    <p>This screen lists all quota associations that have been created for quotas in the last 2 years.</p>

    <p>Please click here to <%= link_to "create a new quota association", new_create_quota_association_path %>. If you would like to edit the values associated with an existing
      quota association, please delete the association and then create a new association afterwards. Please be aware that
      a quota association can only be deleted / edited for quota definition periods that are yet to start.
    </p>
  </div>
</div>

<table class="m-t-35">
  <thead>
    <tr>
      <th scope="col">Parent quota</th>
      <th scope="col">Child quota</th>
      <th scope="col">Relation type</th>
      <th scope="col">Ceofficient</th>
      <th scope="col">Parent Start date</th>
      <th scope="col">Parent End date</th>
      <th scope="col">Child Start date</th>
      <th scope="col">Child End date</th>
      <th scope="col"></th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @quota_associations.each do | quota_association | %>
      <tr>
        <td><%= quota_association.main_quota_definition.quota_order_number_id %></td>
        <td><%= quota_association.sub_quota_definition&.quota_order_number_id %></td>
        <td><%= quota_association.relation_type %></td>
        <td><%= quota_association.coefficient %></td>
        <td><%= quota_association.main_quota_definition.validity_start_date.to_s :uk_Mmm %></td>
        <td><%= quota_association.main_quota_definition.validity_end_date.to_s :uk_Mmm %></td>
        <td><%= quota_association.sub_quota_definition&.validity_start_date&.to_s :uk_Mmm %></td>
        <td><%= quota_association.sub_quota_definition&.validity_end_date&.to_s :uk_Mmm %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
