<% content_for :page_title do %>Tariff Management<% end %>
<% content_for :app_title do %>Tariff Management<% end %>
<% content_for :homepage_url, root_path %>

<% content_for :head do %>
  <%- if ENV["SENTRY_DSN"].present? %>
    <%= javascript_include_tag "sentry" %>

    <script>
      Sentry.init({ dsn: '<%= ENV.fetch("SENTRY_DSN") %>' });
    </script>
  <% end %>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<% end %>

<% content_for :global_header_text, "<span class='desktop-title'>Tariff Management</span><span class='mobile-title'>TMA</span>".html_safe %>

<%= content_for :proposition_header do %>
  <div class="tma_header">
    <ul>
      <li><%= link_to 'Sign out', gds_sign_out_path, id: 'sign-out' %></li>
    </ul>
  </div>
<% end %>

<% content_for :before_content do %>
  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is a new service – your <a href="mailto:vincent.lim@digital.trade.gov.uk?Subject=DIT%20Tariff%20Management">feedback</a> will help us to improve it.</span>
    </p>
  </div>
<% end %>

<% content_for :footer_top do %>
  <%= render "shared/vue_templates/condition" %>
  <%= render "shared/vue_templates/selectize" %>
  <%= render "shared/vue_templates/quota_period" %>
  <%= render "shared/vue_templates/date_select" %>
  <%= render "shared/vue_templates/measure_component" %>
  <%= render "shared/vue_templates/measure_condition_component" %>
  <%= render "shared/vue_templates/measure_origin" %>
  <%= render "shared/vue_templates/quota_sections_manager" %>
  <%= render "shared/vue_templates/quota_section" %>
  <%= render "shared/vue_templates/opening_balances_manager" %>
  <%= render "shared/vue_templates/footnote" %>
<% end %>

<% content_for :footer_bottom do %>
  <%= render "application/version_identifier" %>
<% end %>

<%= render template: "layouts/govuk_template" %>
