<% content_for :page_title do %>TariffManagement<% end %>
<% content_for :app_title do %>TariffManagement<% end %>
<% content_for :app_home_path, root_path %>

<% content_for :head do %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<% end %>

<% content_for :navbar_items do %>
  <%= nav_link "Goods Nomenclatures", root_path, /\/$/ %>
  <%= nav_link "XML Exports", xml_generation_exports_path, /\/xml_generation|exports$/ %>
<% end %>

<% content_for :navbar_right do %>
  <ul class="nav">
    <li class="dropdown">
      <span class="dropdown-toggle" data-toggle="dropdown">
        <%= current_user.name %>
        <span class="caret"></span>
      </span>
      <ul class="dropdown-menu">
        <li><%= link_to 'Sign out', gds_sign_out_path %></li>
      </ul>
    </li>
  </ul>
<% end %>

<%= render "flashes" %>
<%= render template: "layouts/govuk_admin_template" %>
